
.btn.btn-custom {
    padding: 10px 30px;
    transition: all 0.6s ease 0s;
}
.bordr-radius {
    border-radius: 40px;
}
.red-bg {
    background-color: #de2910;
    color: #fff;
    font-size: 14px;
    float: right;
    margin-bottom: 2%;

}

.red-bg:hover {
    background-color: #2b2b2b;
    color: #fff;
    transition: all 0.6s ease 0s;
}
label.error{
    color:red;
}